/* Container Confirma Adicionar */
.container-confirma {
  background-color: var(--fundo-confirma);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 480px;
  border-radius: 10px;
  border: 2px solid var(--cor-primaria);
  z-index: 2;
  animation: efeito-container;
  animation-duration: 0.5s;
}

.container-confirma>p {
  font-size: 1.4rem;
}

.carta-confirma-adicionar {
  transform: scale(0.85);
}

.botoes-confirma-adicionar {
  display: flex;
  align-items: center;
  gap: 50px;
}

.botao-cancelar {
  border: none;
  background: none;
  color: var(--vermelho1);
  font-family: 'Afacad Flux';
  font-size: 1.3rem;
  transition: 0.3s;
  cursor: pointer;
}

.botao-cancelar:hover {
  transform: scale(1.05);
  transition: 0.2s;
  color: var(--vermelho2);
}

.botao-salvar {
  font-family: 'Macondo';
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2px 15px;
  border: none;
  background: var(--gradiente-roxo);
  color: var(--cor-primaria);
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.botao-salvar:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

@media (max-width: 550px) {
  .container-confirma {
    width: 400px;
    height: 430px;
    text-align: center;
  }

  .carta-confirma-adicionar {
    transform: scale(0.75);
  }

  .container-confirma>p {
    top: 30px;
    position: relative;
  }

  .botoes-confirma-adicionar {
    top: -30px;
    position: relative;
  }
}

@media (max-width: 450px) {
  .container-confirma {
    width: 360px;
    height: 410px;
  }

  .carta-confirma-adicionar {
    transform: scale(0.75);
  }

  .container-confirma>p {
    top: 35px;
    position: relative;
  }

  .botoes-confirma-adicionar {
    top: -35px;
    position: relative;
  }
}

@media (max-width: 390px) {
  .container-confirma {
    width: 320px;
    height: 410px;
  }

  .carta-confirma-adicionar {
    transform: scale(0.75);
  }

  .container-confirma>p {
    top: 35px;
    position: relative;
  }

  .botoes-confirma-adicionar {
    top: -35px;
    position: relative;
  }
}