.header-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 30px;
}

.titulo a {
  color: var(--cor-primaria);
  font-family: "MedievalSharp";
  font-size: 2.2rem;
}

.div-btn-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 650px) {
  .titulo a {
    font-size: 1.8rem;
  }
}

@media (max-width: 525px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}