.btn-com-img {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.3rem;
  background: none;
  border: none;
  font-family: "Macondo";
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-com-img img {
  max-width: 23px;
}

.btn-com-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

@keyframes efeito-container {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: translate(-30%, -50%);
    transition: all 1s;
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(-50%, -50%);
    transition: all 1s;
  }
}